# go
# .env 어떤 똥이 올려서 나도 같이 올림
.vscode
.idea

# binary
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
.idea
# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# DB
*.db
*.sqlite
*.sqlite3
*.db-journal
